{% extends 'base.html' %}

{% load static %}

{% block contenido %}


<!-- Page Header-->
<header class="masthead" style="background-image: url('{% static 'img/publicaciones/home.png' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Registrate</h1>
                    <span class="subheading">¡Únete a nuestra comunidad!</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Rellene el siguiente formulario con sus datos:</p>
                <div class="my-5">
                    <form method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <p><strong>Verifique bien los datos y las indicaciones antes de registarse. Las correcciones figurarán ARRIBA de este mensaje.</strong><p>
                        <button type="submit" class="btn btn-primary">Registrarse</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock contenido %}