{% extends 'base.html' %}

{% load static %}

{% block titulo %} El Cambio climático - Publicación {% endblock titulo %}

{% block contenido %}

<!-- Page Header-->
<header class="masthead" style="background-image: url({{ publicacion.imagen.url }})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{publicacion.titulo}}</h1>
                    <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                    <span class="meta">
                        Publicado por
                        <a href="#!">{{publicacion.usuario}}</a>
                        el {{publicacion.fechaCreacion}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>{{publicacion.contenido}}</p>
            </div>
        </div>
    </div>
</article>


<!-- Mostrar los comentarios -->

<section>
    {% for c in comentario %}
    <div class="cajaComentarios_container">
        <div class="cajaComentarios_comentario">
            <div class="cajaComentarios_titulo">
                <div class="__usuario">@{{c.usuario}}</div>
                <div class="__fecha">{{c.fechaEdicion.date}}</div>
            </div>
            <div class="cajaComentarios_contenido">{{c.contenido}}</div>
        </div>
        <div class="cajaComentarios_botones">
            <a href="{% url 'comentarios:editar' c.pk %}">Editar</a><a
                href="{% url 'comentarios:eliminar' c.pk %}">Eliminar</a>
        </div>
    </div>
    {% endfor %}

    <!-- Crear un comentario.  -->
    {% if request.user.is_authenticated %}

    <form action="{% url 'comentarios:crear' publicacion.pk %}" method="post" class="formComentarios">
        {% csrf_token %}
        <label for="comentario" class="__titulo">Agregá un comentario: </label>
        <div class="__container">
            <input type="text" name="comentario" id="comentario" class="__campoInput">
            <input type="submit" value="Comentar" class="__botonSubmit">
        </div>
    </form>
    {% endif %}
</section>


{% endblock contenido %}