{% extends 'base.html' %}

{% load static %}

{% block titulo %} El Cambio climático - Publicación {% endblock titulo %}

{% block contenido %}

<!-- Page Header-->
<header class="masthead" style="background-image: url({{ publicacion.imagen.url }})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{publicacion.titulo}}</h1>
                    <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                    <span class="meta">
                        Publicado por
                        <a href="#!">{{publicacion.usuario}}</a>
                        el {{publicacion.fechaCreacion}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>{{publicacion.contenido}}</p>
                <!-- Divider-->
                <hr class="my-4" />
                <h3> Comentarios </h3>
                    <div class="post-preview">
                        {% for comentario in comentarios %}
                            <!-- Divider-->
                            <hr class="my-4" />
                            <h5 style="font-weight: 600">{{comentario.contenido}}</h6>
                            <p class="post-meta">
                                Publicado por
                                <a href="">{{comentario.usuario}}</a>
                                el {{comentario.fechaCreacion}}
                                <br>
                                <a href="{% url 'comentarios:editar' comentario.pk %}"> Editar </a>
                                |
                                <a href="{% url 'comentarios:eliminar' comentario.pk %}"> Eliminar </a>
                                |
                            </p>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
</article>

{% endblock contenido %}