{% extends 'base.html' %}

{% load static %}

{% block titulo %} El Cambio Climático - Contacto {% endblock titulo %}

{% block contenido %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'img/contacto.png' %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Contáctanos</h1>
                            <span class="subheading">¿Algo que contar? Te escuchamos</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>
                            Si querés comunicarte por algún motivo con nosotros te dejamos los medios necesarios para que puedas dejarnos un mensaje a cada uno de los integrantes.
                        </p>
                        <ul style="font-size:1.25em">
                            <li>Ariadna Sandoval <a href="https://github.com/ariadnasandoval"><img src="{% static 'img/github.png' %}" style="height:1em"></a> <a href="https://instagram.com/ariadnasandoval"><img src="{% static 'img/instagram.png' %}" style="height:1em"></a> <a href="mailto:ariadnasandoval@gmail.com"><img src="{% static 'img/gmail.png' %}" style="height:1em"></a></li>
                            <li>Martina Piedrabuena <a href="https://github.com/MartinaPiedrabuena"><img src="{% static 'img/github.png' %}" style="height:1em"></a> <a href="https://instagram.com/mrtnp_"><img src="{% static 'img/instagram.png' %}" style="height:1em"></a> <a href="mailto:piedrabuenam21@gmail.com"><img src="{% static 'img/gmail.png' %}" style="height:1em"></a></li>
                            <li>Lautaro Mañanes <a href="https://github.com/lauttymananes"><img src="{% static 'img/github.png' %}" style="height:1em"></a> <a href="https://instagram.com/lauty_mananes"><img src="{% static 'img/instagram.png' %}" style="height:1em"></a> <a href="mailto:lau16mananes@gmail.com"><img src="{% static 'img/gmail.png' %}" style="height:1em"></a></li>
                            <li>Mariano Flores <a href="https://github.com/marezeflo"><img src="{% static 'img/github.png' %}" style="height:1em"></a> <a href="https://instagram.com/marezeflo"><img src="{% static 'img/instagram.png' %}" style="height:1em"></a> <a href="mailto:marezeflo@gmail.com"><img src="{% static 'img/gmail.png' %}" style="height:1em"></a></li>
                        </ul>
                        <br>
                        <img src="{% static 'img/informatorio.png' %}" style="width:100%">
                    </div>
                </div>
            </div>
        </main>

{% endblock contenido %}